* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft', sans-serif;
}

html, body {
    height: 100%; /* Ensures the body can expand */
    margin: 0;
    position: relative;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(pics/wall1.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh; 
    /* Ensures the content stretches at least to the full viewport height */
    
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
}

.heading {
    font-size: 4rem;
    color: white;
    text-shadow: 
        -2px -2px 0 black,  
        2px -2px 0 black,  
        -2px 2px 0 black,  
        2px 2px 0 black; 
}

.steve {
    height: 250px;
}

.buttons {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.btn {
    background-color: #7d7d7d; /* Gray stone-like color */
    color: #f0f0f0; /* Light text color */
    padding: 10px 20px;
    border: 2px solid #3c3c3c; /* Darker gray for a 3D border effect */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adds a 3D shadow effect */
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    font-size: 2rem;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.btn:hover {
    background-color: #5c5a5a;
}

.yes-container {
    height: 55%;
    width: 50%;
    position: absolute;
    top: 50%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Offsets to perfectly center */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    background: rgba(228, 139, 187, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(228, 139, 187, 0.3);
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.yes-container.show {
    display: flex; /* Flex display when shown */
    opacity: 1; /* Fade in */
}
.ok{
    background-color: #7d7d7d; /* Gray stone-like color */
    color: #f0f0f0; /* Light text color */
    padding: 10px 20px;
    border: 2px solid #3c3c3c; /* Darker gray for a 3D border effect */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adds a 3D shadow effect */
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    font-size: 2rem;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}
.ok:hover{
    background-color: #5c5a5a;

}



.yes-content{
    font-size: 2rem;
    text-shadow: 
    -2px -2px 0 rgb(255, 255, 255),  
    2px -2px 0 rgb(255, 255, 255),  
    -2px 2px 0 rgb(255, 255, 255),  
    2px 2px 0 rgb(255, 255, 255); 
}
.hearts {
    height: 100px;
}

@media (max-width: 390px) {
    .heading {
        font-size: 2rem;
    }

    .steve {
        height: 200px;
    }

    .btn {
        font-size: 1.5rem;
        padding: 8px 20px;
    }

    .buttons {
        gap: 20px;
    }

    .heading-container {
        gap: 30px;
    }

    .yes-container {
        height: 68%;
        width: 80%;
        position: absolute;
        top: 50%; /* Centers vertically */
        left: 50%; /* Centers horizontally */
    }
    .ok{
        font-size: 1.5rem;
        padding: 8px 20px;
        margin-top: 120px;

    }
    .yes-content{
        margin-top: 40px;
    }

}
